@import "../../styles/variables.scss";

.adminLogin {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .adminCover {
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 15rem;
      height: 15rem;

      path {
        fill: $white;
      }
    }
  }

  .loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.2rem;
    padding: 0 1.2rem 0 2rem;

    a {
      font-family: 'Open Sans', sans-serif;
      font-size: 0.8rem;
      font-weight: 500;
      text-decoration: underline;
    }

    .inputWrapper {
      display: flex;
      align-items: center;
    }

    button {
      width: 100%;
      background-color: $dark-gray;
      justify-content: space-between;
      letter-spacing: 0.25px;
    }

    p {
      font-size: 0.8rem;
    }
  }
}