@import "../../styles/variables.scss";

.login {
  display: flex;
  gap: 47px;

  .loginForm {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 24px;
    padding: 0 24px 0 40px;

    a {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 500;
      text-decoration: underline;
    }

    .inputWrapper {
      display: flex;
      align-items: center;
    }

    button {
      width: 100%;
      background-color: $dark-gray;
      justify-content: space-between;
      letter-spacing: 0.25px;
    }

    p {
      font-size: 16px;
    }
  }
}