@import '../../styles/variables.scss';

.textInput {
  width: 100%;
  height: 48px;
  background-color: transparent;
  border: 1px solid $dark-gray;
  border-radius: 8px;
  padding: 16px;
  font-size: 20px;
  font-weight: 400;

  &::placeholder {
    font-size: 16px;
    color: $gray;
  }
}

.checkboxInput {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  vertical-align: middle;
}

.checkboxLabel {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.dateInput {
  display: flex;

  span {
    display: flex;
    align-items: center;
    margin: 0 8px;

    svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  .date{
    font-size: 0.8rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  input[type="date"] {
    border: none;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;  
    cursor: pointer;  
  }
}