@import "../../styles/variables.scss";

.register {
  display: flex;
  gap: 47px;
  padding: 8px 24px 8px 40px;

  .registerForm{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 24px;

    h5 {
      font-family: 'Rubik', sans-serif;
      font-weight: 600;
    }

    input {
      width: 480px;
      height: 48px;
      background-color: transparent;
      border: 1px solid $dark-gray;
      border-radius: 8px;
      padding: 14px 16px;
      font-family: 'Open Sans', sans-serif;

      &::placeholder {
        font-size: 16px;
        color: $gray;
      }
    }

    .checkboxWrapper {
      display: flex;
      gap: 32px;
    }

    label {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      display: flex;
      align-items: center;

      input[type=checkbox] {
        width: 18px;
        height: 18px;
        margin-right: 8px;
      }
    }

    button {
      width: 480px;
      height: 48px;
      color: $white;
      background-color: $dark-gray;
      border: none;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      font-family: 'Rubik', sans-serif;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.25px;
    }

    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
    }
  }
}