@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0 0.8rem;

  .text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
      font-size: 0.7rem;
    }
  }

  .container {
    display: flex;
    gap: 2.4rem;
    justify-content: space-between;

    .cartWrapper {
      display: flex;
      flex-direction: column;
      flex: 1.5;
      gap: 2.4rem;
      padding: 1.2rem;
      background-color: $FA-white;
      border-radius: 16px;

      .cartText {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;

        p {
          font-size: 14px;
        }
      }  
    }

    .summaryWrapper {
      width: 100%;
      flex: 1;
      padding: 2.5rem 0;

      button {
        margin-top: 1.2rem;
        width: 100%;
        background-color: $dark-gray;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

   @include lg {
    .container {
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      .summaryWrapper {
        padding: 2rem;
      }
    }
  }

  @include xs {
    .container {
      .cartWrapper {
        padding: 0.5rem;
      }

      .summaryWrapper {
        padding: 1rem;
      }
    }
  }
}