@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0 0.8rem;

  .text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
      font-size: 0.7rem;
    }
  }

  .container {
    display: flex;
    gap: 2.4rem;
    justify-content: space-between;

    .cartWrapper {
      display: flex;
      flex-direction: column;
      flex: 1.5;
      gap: 2.4rem;
      padding: 1.2rem;
      background-color: $FA-white;
      border-radius: 16px;

      .cartText {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;

        p {
          font-size: 14px;
        }
      } 

      .cardWrapper {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        min-height: auto;
        max-height: 28rem;
        padding: 0.5rem;
        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
          width: 2px;
          background-color: $white;
        }

        &::-webkit-scrollbar-thumb {
          background: $gray;
        }
      }
    }

    .summaryWrapper {
      width: 100%;
      flex: 1;
      padding: 2.5rem 0;

      button {
        margin-top: 1.2rem;
        width: 100%;
        background-color: $dark-gray;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  @include lg {
    .container {
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      .summaryWrapper {
        padding: 2rem;
      }
    }
  }

  @include xs {
    padding: 0;
    
    .container {
      .cartWrapper {
        padding: 0.5rem;
      }

      .summaryWrapper {
        padding: 1rem;
      }
    }
  }
}

.emptyCart {
  width: 100%;
  padding: 0 1.6rem;
  height: 30rem;
  position: relative;
  
  .bgImg {
    width: 100%;
    height: 100%;
    border-radius: 36px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: contrast(70%);
    }
  }

  .text {
    width: 90%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    img {
      width: 50px;
    }
    
    h1 {
      text-align: center;
      color: $white;
      text-shadow: 1px 1px 2px $dark-gray;
    }

    .link {
      display: flex;
      gap: 1.6rem;

      :last-child {
        button {
          width: 180px;
          background-color: $baby-blue;
        }
      }

      button {
        border: 1px solid $white;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  @include xs {
    padding: 0 0.5rem;
    
    .text {
      top: 10%;
      padding: 0 1rem;

      h1 {
        font-size: 2.8rem;
      }

      .link {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}