@import "../../styles/variables.scss";

.chartBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  background-color: $FA-white;
  border-radius: 0.8rem;
  padding: 1.2rem 1rem;

  .title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid $dark-gray;

    .btnWrapper {
      display: flex;
      gap: 0.8rem;

      button {
        width: 5rem;
        height: 1.6rem;
        padding: 0.4rem 0.8rem;
        font-size: 0.7rem;
        background-color: transparent;
        border: 1px solid $dark-gray;
        border-radius: 8px;
        color: $dark-gray;
        font-family: 'Rubik', sans-serif;
        font-size: 0.7rem;
        font-weight: 600;
        cursor: pointer;
      }

      .active {
        background-color: $dark-gray;
        color: white;
      }
    }
  }

  .chart {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 0;
      height: 4px;
      background-color: $FA-white;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: $gray;
    }
  }
}