@import "../../styles/variables.scss";

.edit {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $white;
  padding: 24px 0;
  
  form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .inputWrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    button {
      background-color: $baby-blue;

      &:hover {
        cursor: pointer;
      }
    }
  }
}