@import "../../styles/variables.scss";

.cart {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 16px;
  margin-bottom: 40px;

  .text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h3 {
      font-size: 32px;
      font-weight: 600;
    }

    p {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .container {
    display: flex;
    gap: 47px;
    justify-content: space-between;

    .cartWrapper {
      display: flex;
      flex-direction: column;
      flex: 1.5;
      gap: 48px;
      padding: 24px;
      background-color: $FA-white;
      border-radius: 16px;

      .cartText {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;

        h3 {
          font-size: 32px;
          font-weight: 600;
        }

        p {
          font-size: 14px;
          font-weight: 600;
        }
      }  
    }

    .summary {
      display: flex;
      flex-direction: column;
      gap: 16px;
      flex: 1;
      padding: 50px 0;

      h3 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 8px;
      }

      .summaryItem {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h6, p {
          font-family: 'Open Sans', sans-serif;
          font-size: 18px;
          font-weight: 600;
        }

        &:nth-last-child(2) {
          h6, p {
            font-size: 24px;
          }
        }
      }

      button {
        margin-top: 8px;
        width: 100%;
        background-color: $dark-gray;
      }
    }
  }
}