@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.orders {
  width: 100%;

  .text {
    display: flex;
    justify-content: center;
  }

  .smallTable {
    display: none;
  }

  .table {
    width: 100%;
    min-width: 570px;
    border: 1px solid $gray;
    border-collapse: collapse;

    .head {
      width: 100%;  

      tr {
        border-bottom: 1px solid $gray;
      }

      th {
        font-size: 1rem;
        font-weight: 600;
        padding: 0.8rem;
        width: 20%;
        text-align: start;
      }
    }

    .body {
      width: 100%;

      tr {
        border-bottom: 1px solid $gray;
      }

      td {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.9rem;
        font-weight: 400;
        padding: 0.8rem;
        width: 20%;
        text-align: start;

        a {
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }
      }

      button {
        background-color: $baby-blue;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  @include lg {
    .table {
      .body {
        button {
          width: 5rem;
        }
      }
    }
  }

  @include md {
    .table {
      display: none;
    }

    .smallTable {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .head {
        width: 100%;
        border: 1px solid $gray;
        border-bottom: none;
        border-collapse: collapse;

        tr {
          width: 100%;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $gray;
        }

        th, td {
          padding: 0.5rem;

          button {
            background-color: $baby-blue;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  @include xs {
    .smallTable {
      font-size: 0.8rem;
    }
  }
}