@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.setting {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  .settingForm {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
    grid-template-areas: 
      "fisrt last bday"
      "email address address"
      "tel password checkbox";

    .inputWrapper:nth-child(5) {
      grid-area: address;
    }

    .inputWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;

      label {
        font-size: 1rem;
        font-weight: 600;
      }

      button {
        background-color: $dark-gray;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .checkboxWrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      label {
        width: auto;
      }
    }
  }

  .button {
    display: flex;
    justify-content: flex-end;

    button {
      background-color: $baby-blue;

      &:hover {
        cursor: pointer;
      }
    }
  }

  @include sm {
    .settingForm {
      display: flex;
      flex-direction: column;
    }
  }
}