@import "./variables.scss";
@import "./responsive.scss";

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik','Open Sans', sans-serif;
}

html {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul, li {
	list-style: none;
}

.main {
  background-color: $main-bg;
  padding: 1.6rem 3rem;
  min-width: 400px;

  @include sm {
    padding: 1.2rem 0.8rem;
  }
}

.container {
  width: 100%;
}

.admin {
  width: 100vw;
  height: 100vh;
  background-color: $main-bg;
  display: flex;
}

.adminContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}




  