@import "../../styles/variables.scss";

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .banner {
    width: 100%;
    height: 926px;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 128px;
      font-weight: 700;
      padding: 0 30px;
      text-align: center;
      text-shadow: 4px 4px 4px rgba(0,0,0,0.25);

      span {
        &:nth-child(1) {
          color: $baby-blue;
        }
        &:nth-child(2) {
          color: $salmon-pink;
        }

        &:nth-child(3) {
          color: $light-yellow;
        }
      }
    }

    .image {
      position: relative;

      img {
        width: 100%;
        height: 750px;
        border-radius: 64px;
        box-shadow: 10px 10px 4px 0 rgba(0,0,0,0.25);
      }

      .gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 64px;
        background-image: 
        linear-gradient(to top, black, transparent 50%);
      }

      h2 {
        position: absolute;
        bottom: 20%;
        left: 50px;
        font-family: 'Rubik', sans-serif;
        font-size: 70px;
        font-weight: 400;
        color: $white;
      }

      button {
        position: absolute;
        bottom: 10%;
        left: 50px;
      }
    }
  }

  .newdrops {   
    .title {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 32px;

      h2 {
        font-size: 74px;
        font-weight: 600;
      }

      button {
        width: 189px;
      }
    }

    .newdropsCards {
      display: flex;
      gap: 16px;
    }
  }

  .reviews {
    height: 619px;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 32px;

      h2 {
        font-size: 74px;
        font-weight: 600;
      }
    }
    
    .reviewCards {
      display: flex;
      gap: 16px;
    }
  }
}