@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.home {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    h1 {
      width: 100%;
      font-size: 6rem;
      font-weight: 700;
      text-align: center;
      text-shadow: 4px 4px 4px rgba(0,0,0,0.25);

      span {
        &:nth-child(1) {
          color: $baby-blue;
        }
        &:nth-child(2) {
          color: $salmon-pink;
        }

        &:nth-child(3) {
          color: $light-yellow;
        }
      }
    }

    .image {
      width: 100%;
      height: 37.5rem;
      position: relative;
      border-radius: 64px;
      overflow: hidden;
      box-shadow: 10px 10px 4px 0 rgba(0,0,0,0.25);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
      }

      .gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 64px;
        background-image: 
        linear-gradient(to top, black, transparent 50%);
      }

      .text {
        position: absolute;
        bottom: 2.5rem;
        left: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2 {
          font-size: 3.5rem;
          font-weight: 400;
          color: $white;
        }
      }
    }
  }

  .row {  
    width: 100%;

    .title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 1.6rem;

      h2 {
        font-size: 3.7rem;
      }

      button {
        width: 9rem;
      }
    }

    .product {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      row-gap: 1rem;
      justify-items: center;
    }

    .reviews {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      column-gap: 0.8rem;
      row-gap: 1rem;
      justify-items: center;
    }
  }

  @include xl {
    .banner {
      h1 {
        font-size: 4.5rem;
      }

      .image {
        height: 35rem;

        .text {
          h2 {
            font-size: 3rem;
          }
        }
      }
    }

    .row {
      .title {
        h2 {
          font-size: 3rem;
        }
      }

      .product {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      }
    }
  }

  @include lg {
    .banner {
      h1 {
        font-size: 3.5rem;
      }

      .image {
        height: 30rem;

        .text {
          h2 {
            font-size: 2.5rem;
          }
        }
      }
    }

    .row {
      .title {
        h2 {
          font-size: 2.5rem;
        }
      }

      .product {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
    }
  }

  @include md {
    .banner {
      h1 {
        font-size: 3rem;
      }

      .image {
        height: 25rem;

        .text {
          h2 {
            font-size: 2rem;
          }
        }
      }
    }

    .row {
      .title {
        h2 {
          font-size: 2rem;
        }
      }

      .product {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
    }
  }

  @include sm {
    .banner {
      h1 {
        font-size: 2.5rem;
      }

      .image {
        height: 20rem;

        .text {
          h2 {
            font-size: 1.5rem;
          }
        }
      }
    }

    .row {
      .title {
        h2 {
          font-size: 1.5rem;
        }
      }

      .product {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      }
    }
  }

  @include xs {
    .banner {
      .image {
        height: 15rem;

        .text {
          bottom: 1.5rem;
          left: 1.5rem;
          gap: 0.5rem;

          h2 {
            font-size: 1rem;
          }

          button {
            width: 5rem;
          }
        }
      }
    }

    .row {
      .title {
        h2 {
          font-size: 1.2rem;
        }

        button {
          width: 5rem;
          font-size: 0.5rem;
        }
      }

      .product {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      }
    }
  }
}