@import "../../styles/variables.scss";

.summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h3 {
    margin-bottom: 8px;
  }

  .summaryItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      h6, p {
        font-size: 26px;
      }
    }
  }
}