@import "../../styles/variables.scss";

.card {
  width: 318px;
  height: 486px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .cardImage {
    width: 100%;
    height: 350px;
    border-radius: 24px;
    background-color: $FA-white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    img {
      width: 302px;
      height: 334px;
      object-fit: cover;
      border-radius: 24px;
    }
  }

  .cardTitle {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
  }

  .cardButton {
    width: 100%;

    button {
      width: 100%;
      background-color: $dark-gray;

      &:hover {
        cursor: pointer;
      }
    }
  }
}