@import "../../styles/variables.scss";

.navbar {
  height: 96px;
  background-color: $white;
  padding: 0 32px;
  margin-bottom: 32px;
  border-radius: 24px;
  display: flex;
  align-items: center;

  .nav-list-wrapper {
    flex: 1;

    .nav-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 40px;
      position: relative;
    }

    .nav-item {
      font-family: 'Rubik', sans-serif;
      font-weight: 600;
      font-size: 16px;

      &:hover {
        cursor: pointer;
      }

      .dropdown-menu {
        width: 160px;
        margin-top: 10px;
        padding: 16px 8px 8px 8px;
        border-radius: 8px;
        border: 1px solid $FA-white;
        background-color: $white;
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
        font-size: 16px;
        position: absolute;
        top: 20px;
        left: 110px;

        .dropdown-menu-list {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .dropdown-menu-item {
            border-bottom: 2px solid $FA-white;
          }
        }
      }
    }
  }

  .logo-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .nav-icons-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 42px;
    position: relative;

    .search-icon, .user-icon :hover {
      cursor: pointer;
    }

    .dropdown-user {
      width: 90px;
      margin-top: 10px;
      padding: 16px 8px 8px 8px;
      border-radius: 8px;
      border: 1px solid $FA-white;
      background-color: $white;
      font-family: 'Rubik', sans-serif;
      font-weight: 600;
      font-size: 16px;
      position: absolute;
      top: 20px;
      right: 20px;

      .dropdown-user-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .dropdown-user-item {
          border-bottom: 2px solid $FA-white;
        }
      } 
    }

    .cart-count {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: $baby-blue;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }
    }
  }
}