@import "../../styles/variables.scss";

.footer {
  height: 700px;
  margin-top: 55px;

  .upperFooter {
    height: 440px;
    background-color: $salmon-pink;
    border-radius: 48px;
    display: flex;
    padding: 64px 0 0 72px;
    
    .subscribe {
      display: flex;
      flex-direction: column;
      flex: 1;
      color: $white;

      h3 {
        font-size: 36px;
        margin-bottom: 16px;
      }

      p {
        margin-bottom: 32px;
      }

      .subscribeInput {
        display: flex;
        align-items: center;
          
        input {
          width: 342px;
          height: 48px;
          margin-right: 4px;
          background-color: transparent;
          box-shadow: 0 4 20 rgba(0,0,0,0.25);
          border: 1px solid $FA-white;
          border-radius: 8px;
          font-family: 'Open Sans', sans-serif;
          padding: 14px 16px;
          

          &::placeholder {
            color: $white;
            font-size: 16px;
          }
        }

        button {
          width: 102px;
          background-color:$baby-blue;
        }
      }  
    }

    .logo {
      display: flex;
      flex: 1;
      justify-content: center;
      padding-top: 100px;
    }
  }

  .lowerFooter {
    height: 360px;
    background-color: $baby-blue;
    border-radius: 48px;
    position: relative;
    top: -100px;
    display: flex;
    gap: 80px;
    justify-content: space-between;
    color: $white;
    padding: 40px;

    .about {
      flex: 3;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .categories {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .linkList {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .linkItem {
          font-family: 'Open Sans', sans-serif;
          font-size: 18px;
        }
      }   
    }

    .company {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .linkList {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .linkItem {
          font-family: 'Open Sans', sans-serif;
          font-size: 18px;
        }
      }   
    }

    .socialMedia {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .socialMediaIcons {
        display: flex;
        gap: 24px;
      }
    }
  }
}