@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.footer {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  position: relative;

  .upperFooter {
    width: 100%;
    height: 35rem;
    background-color: $salmon-pink;
    border-radius: 48px;
    display: flex;
    padding: 2rem;
    position: relative;
    
    .subscribe {
      display: flex;
      flex-direction: column;
      flex: 1;
      color: $white;

      h3 {
        font-size: 36px;
        margin-bottom: 16px;
      }

      p {
        margin-bottom: 32px;
      }

      .subscribeInput {
        display: flex;
        align-items: center;
          
        input {
          max-width: 342px;
          margin-right: 4px;
          border-color: $FA-white;

          &::placeholder {
            color: $white;
          }
        }

        button {
          width: 102px;
          background-color:$baby-blue;
        }
      }  
    }

    .logo {
      width: 100%;
      display: flex;
      flex: 1;
      justify-content: center;
      padding-top: 100px;
    }
  }

  .lowerFooter {
    width: 100%;
    height: auto;
    background-color: $baby-blue;
    border-radius: 48px;
    position: absolute;
    top: 50%;
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    color: $white;
    padding: 2rem;
    margin-top: 1rem;

    .about {
      flex: 3;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .categories, .company, .socialMedia {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      .linkList {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .linkItem {
          font-family: 'Open Sans', sans-serif;
          font-size: 0.9rem;
        }
      }
      
      .socialMediaIcons {
        display: flex;
        gap: 1.2rem;
      }
    }
  }

  @include xl {
    .upperFooter {
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 2rem;
      
      .subscribe {
        flex: 0;
      }

      .logo {
        flex: 0;
        padding: 0;
        justify-content: flex-start;

        svg {
          width: auto;
        }
      }
    }
  }

  @include lg {
    .lowerFooter {
      flex-direction: column;
      gap: 2rem;
    }
  }

  @include xs {
    .upperFooter {
      .subscribe {
        h3 {
          font-size: 24px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}