@import "../../styles/variables.scss";

.adminOrderDetail {
  .title {
    margin-bottom: 1.2rem;

    .text {
      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
      }
    }
  }

  .info {
    width: 100%;
    background-color: $white;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem 0.8rem;
  }

  .header {
    position: relative;

    .title {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      .status {
        width: 3.2rem;
        height: 1.6rem;
        border-radius: 8px;
        background-color: $light-yellow;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.6rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    p {
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .btn {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      gap: 1rem;

      button {
        background-color: #F4F2F2;
        color: $dark-gray;
        width: 11rem;
        height: 2.6rem;
        justify-content: space-between;
      }

      :last-child {
       justify-content: center;
       width: 2.6rem;
      }
    }
  }

  .body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;

    .card {
      width: 100%;
      border: 1px solid rgba(35,35,33,0.25);
      padding: 0.8rem;
      border-radius: 0.8rem;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      .body {
        display: flex;

        .icon {
          width: 2.8rem;
          height: 2.8rem;
          background-color: $salmon-pink;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 1.2rem;
            height: 1.2rem;
          }
        }

        .text {
          display: flex;
          flex-direction: column;
          gap: 8px;

          p {
            font-size: 0.8rem;
          }
        }
      }

      button {
        width: 100%;
        height: 1.6rem;
        background-color: $dark-gray;
      }
    }
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;

    .payment {
      border: 1px solid rgba(35,35,33,0.25);
      padding: 0.8rem;
      border-radius: 0.8rem;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    .note {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      textarea {
        width: 100%;
        border: 1px solid rgba(35,35,33,0.25);
        padding: 0.8rem;
        border-radius: 0.8rem;
        resize: none;
      }
    }
  }
}