@import "../../styles/variables.scss";

.detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 128px;

  .product {
    display: flex;
    gap: 16px;

    .images {
      flex: 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;

      .imageWrapper {
        overflow: hidden;

        &:nth-child(1) {
          border-top-left-radius: 48px;
          overflow: hidden;
        }
        &:nth-child(2) {
          border-top-right-radius: 48px;
        }
        &:nth-child(3) {
          border-bottom-left-radius: 48px;
        }
        &:nth-child(4) {
          border-bottom-right-radius: 48px;
        }
      }
      
      img {
        width: 100%;
        height: 510px;
        object-fit: cover;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 32px;

      .title {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .tag {
          width: 106px;
          height: 38px;
          border-radius: 12px;
          background-color: $salmon-pink;
          color: $white;
          font-size: 12px;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        h5 {
          color: $salmon-pink;
        }
      }

      .wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h6 {
          font-size: 16px;
        }

        .types, .sizes {
          display: flex;
          gap: 16px;
        }

        .types {
          button {
            width: 95px;
            background-color: $white;
            color: $dark-gray;
          }
        }

        .sizes {
          button {
            width: 50px;
            background-color: $FA-white;
            color: $dark-gray;
          }
        }

      }

      .buttons {
        display: flex;
        flex-direction: column;
        gap: 8px;

        button {
          width: 100%;

          &:first-child {
            background-color: $dark-gray;
          }
        }
      }

      .description {
        h6 {
          font-size: 16px;
          margin-bottom: 8px;
        }

        p {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}