@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.productDetail {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  .product {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0.8rem;

    .mySwiper {
      display: none;
    }

    .images {
      width: 100%;
      flex: 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.8rem;
      border-radius: 48px;
      overflow: hidden;

      .imageWrapper {
        height: 28rem;
      }
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 1.6rem;
      padding: 1rem 0;

      .title {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .tag {
          width: 106px;
          height: 38px;
          border-radius: 12px;
          background-color: $salmon-pink;
          color: $white;
          font-size: 12px;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        :last-child {
          color: $salmon-pink;
          margin-top: 1rem;
        }
      }

      .wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;

        label {
          font-size: 1rem;
          font-weight: 600;
        }

        select {
          background-color: $white;
          border: 1px solid $dark-gray;
          width: 4rem;
          height: 2rem;
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        gap: 8px;

        button {
          width: 100%;

          &:first-child {
            background-color: $dark-gray;
          }
        }
      }

      .soldout {
        button {
          cursor: auto;
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h6 {
          font-size: 16px;
          margin-bottom: 8px;
        }

        p {
          font-size: 16px;
          font-weight: 400;
          text-align: justify;
        }
      }
    }
  }

  @include xl {
    .product {
      .images {
        height: 95%;

        .imageWrapper {
          height: 20rem;
        }
      }
    }
  }

  @include lg {
    .product {
      flex-direction: column;
      gap: 1.2rem;

      .mySwiper {
        display: block;
        width: 100%;
        height: 30rem;
        border-radius: 1.6rem;
        overflow: hidden;
        position: relative;
      }
      
      .images {
        display: flex;
        border-radius: 0;

        .imageWrapper {
          border-radius: 0.8rem;
          overflow: hidden;
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }

  @include sm {
    .product {
      .mySwiper {
        height: 25rem
      }

      .images {
        .imageWrapper {
          border-radius: 0.6rem;
          width: 3.5rem;
          height: 3.5rem;
        }
      }
    }
  }

  @include xs {
    .product {
      .mySwiper {
        height: 20rem
      }

      .images {
        .imageWrapper {
          border-radius: 0.4rem;
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }
}