@import "../../styles/variables.scss";

.adminOrders {
  .title {
    margin-bottom: 1.2rem;

    .text {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      
      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
      }
    }
  }
}