@import "../../styles/variables.scss";

.allProducts {
  .title {
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
      display: flex;
      flex-direction: column;
      gap: 4px;

      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
      }
    }

    button {
      flex-direction: row-reverse;
      width: 212px;
      background-color: $dark-gray;
      gap: 8px;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(360px, auto);
    gap: 0.7rem;
  }
}