@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.products {
  width: 100%;
  height: auto;
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  .banner {
    width: 100%;
    height: 395px;
    position: relative;
    border-radius: 64px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: contrast(70%);
    }

    .text {
      width: 90%;
      position: absolute;
      top: 30%;
      left: 5%;
      color: $white;
      display: flex;
      flex-direction: column;

      h5 {
        font-family: 'Open Sans', sans-serif;
      }

      h1 {
        font-size: 3.7rem;
      }

      p {
        font-weight: 400;
      }
    }
  }

  .container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    .navbar {
      width: 100%;
      flex: 1;
      margin-top: 5rem;

      h3 {
        font-size: 2rem;
        margin-bottom: 1.6rem;
      }

      .navList {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        .navItem {
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
    }

    .content {
      flex: 4;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.2rem;

      .title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .button {
        :last-child {
          display: none;
        }
      }

      .cardWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        row-gap: 1rem;
        justify-items: center;
        margin-bottom: 1rem;
      }
    }
  }

  @include xl {
    .container {
      .content {
        .cardWrapper {
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }
      }
    }
  }

  @include lg {
    .container {
      .navbar {
        display: none;
      }

      .content {
        .title {
          display: flex;
          flex-direction: column-reverse;
          align-items: flex-start;
          gap: 1rem;
        }

        .button {
          display: flex;
          justify-content: flex-end;
          flex-direction: row-reverse;
          gap: 1rem;

          :last-child {
            display: flex;
          }
        }
      }
    }
  }

  @include md {
    h2 {
      font-size: 2rem;
    }

    .banner {
      .text {
        h1 {
          font-size: 2.5rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }

  @include sm {
    .container {
      .content {
        .cardWrapper {
          grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        }

        .button {
          button {
            width: 150px;
          }
        }
      }
    }
  }
}