@import "../styles/variables.scss";
@import "../styles/responsive.scss";

.tab {
  width: 100%;
  padding: 0 1.6rem;

  .tablist {
    display: flex;
    border: 1px solid $gray;
    border-bottom: none;

    .tabItem {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-left: 1px solid $gray;
      border-bottom: 1px solid $gray;
      padding: 0.8rem 0;
      font-weight: 400;
      font-size: 1rem;
    }

    :first-child {
      border-left: none;
    }

    .active {
      background-color: $white;
      border-bottom: none;
      font-weight: 600;
    }
  }

  .memberWrapper {
    width: 100%;
    padding: 1.6rem;
    border: 1px solid $gray;
    border-top: none;
    background-color: $white;
  }

  @include lg {
    padding: 0 1rem;
  }

  @include xs {
    padding: 0 0.5rem;

    .memberWrapper {
      padding: 1rem 0.5rem;
    }
  }
}